body{
background-image: url("backim.jpg");
}

/****************/
/* PICTURE ZONE */
/****************/
.picture{
background-image: url("Me.jpg");
background-size: 580px;  
float: left;
width: 40%;
height:790px;

}


/**************/
/*TEXTING ZONE*/
/**************/
.text{
float: right;
width: 60%;
height:790px;
}

.name{
 border-radius: 10px 5px;
 background: radial-gradient(whitesmoke, darkorange);
 padding: 20px;
 margin: 30px 30px 0px 15px;
 height: 20px; 
 text-align: center; 
 box-shadow: 2px 2px 5px 0 rgb(255,255,255);
 font: bold 30px/25px Georgia, serif;
}

.education{
 border-radius: 30% 20px 30% 20px;
 background: radial-gradient(whitesmoke, darkorange);
 padding: 20px; 
 margin: 30px 30px 0px 15px;
 height: 80px; 
 text-align: center;  
 box-shadow: 2px 2px 5px 0 rgba(255,155,0, 0,3);
 font: bold 20px/30px Georgia, serif;
}

.projects{
 border-radius: 30% 20px 30% 20px;
 background: radial-gradient(whitesmoke, darkorange);
 padding: 20px; 
 margin: 30px 30px 0px 15px;
 height: 150px; 
 text-align: center;  
 box-shadow: 2px 2px 5px 0 rgba(255,155,0, 0,3);
 font: bold 20px/30px Georgia, serif;
}
